{% extends 'DJtimesheet/base_for_sideNavigation.html' %} 
{% load static %}
 <!-- Title of Page -->
{% block title %}
Create Project Expense Code
{% endblock title%}
 <!-- Content -->
{%block content%}
<div class="container py-5">
<form action="#"method="POST">
        {% csrf_token %}
        {{form}}
        <!-- <input type="submit" name="Submit"> -->
        <button type="submit" class="btn btn-primary mx-5 my-5 float-end">
                <i class="icon-user icon-white"></i> Submit
              </button>
</form>
</div>
{%endblock content%}